@font-face {
  font-family: "Helvetica Now Text";
  src: local("Helvetica Now Text  Regular"),
    local("Helvetica-Now-Text--Regular"),
    url("../fonts/HelveticaNowText-Regular.woff2") format("woff2"),
    url("../fonts/HelveticaNowText-Regular.woff") format("woff"),
    url("../fonts/HelveticaNowText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
:root {
  --black: #1c1b1b;
  --grey: #d3d0ce;
  --white: #f8f8f8;
  --red: #fb4a4a;
  --green: #ffffff;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em Helvetica Now Text, serif, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--grey);
  background: var(--black);
  font-family: Helvetica Now Text, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

.fade-in-section {
  opacity: 0;
  transform: translateY(1vh);
  visibility: hidden;
  transition: opacity 2000ms cubic-bezier(0.19, 1, 0.22, 1),
    transform 2000ms cubic-bezier(0.19, 1, 0.22, 1),
    visibility 2000ms cubic-bezier(0.19, 1, 0.22, 1);
  will-change: opacity, transform, visibility;
}
.hide > div:first-child {
  transform: translateY(7vh);
  transition: opacity 3s cubic-bezier(0.19, 1, 0.22, 1),
    transform 3s cubic-bezier(0.19, 1, 0.22, 1),
    visibility 3s cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay: 2s;
}
.hide > div:nth-child(2) {
  transform: translateY(5vh);
  transition: opacity 2s cubic-bezier(0.19, 1, 0.22, 1),
    transform 2s cubic-bezier(0.19, 1, 0.22, 1),
    visibility 2s cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay: 2s;
}
.hide > div:nth-child(3) {
  transform: translateY(7vh);
  transition: opacity 2s cubic-bezier(0.19, 1, 0.22, 1),
    transform 2s cubic-bezier(0.19, 1, 0.22, 1),
    visibility 2s cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay: 2s;
}
.hide > div:nth-child(4) {
  transform: translateY(7vh);
  transition: opacity 3s cubic-bezier(0.19, 1, 0.22, 1),
    transform 3s cubic-bezier(0.19, 1, 0.22, 1),
    visibility 3s cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay: 3s;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  cursor: none;
  text-decoration: none;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  text-rendering: optimizeLegibility;
  font-size: 15vw;
  line-height: 1.1;
  cursor: none;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  cursor: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: 1em;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  box-sizing: content-box;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
  cursor: none;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
button {
  cursor: pointer;
  background: none;
  border: none;
}
fieldset {
  border: 1px solid silver;
  padding: 0.35em 0.625em 0.75em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
* {
  box-sizing: inherit;
  cursor: none;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
h2 {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.5;
  cursor: none;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  margin-bottom: 1vh;
  text-rendering: optimizeLegibility;
  font-size: 2.5vh;
  text-transform: uppercase;
  line-height: 1.1;
  cursor: none;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  font-size: 4vh;
  line-height: 1.1;
  cursor: none;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  margin-bottom: 1.45rem;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
  cursor: none;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  margin-bottom: 1.45rem;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
  cursor: none;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  cursor: none;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-top: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
.hide {
  opacity: 0;
  z-index: -1;
}
.show {
  opacity: 0.97;
  z-index: 100;
}
.show a {
  color: var(--red);
  transition: all 0.2s ease-in-out;
}
.show a:hover {
  background-color: var(--red);
  color: var(--grey);
  border-color: var(--red);
}
.show button img:hover {
  transition: transform 2s;
  animation: animate-cross 1s alternate;
}

@keyframes animate-cross {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(12deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

/* Links effect*/
#parent10,
#parent1,
#parent2,
#parent3,
#parent11,
#parent12,
#parentLinkedin,
#parentEmail {
  position: relative;
  overflow: hidden;
}

#child10:last-child,
#child1:last-child,
#child2:last-child,
#child3:last-child,
#child11:last-child,
#child12:last-child,
#childLinkedin:last-child,
#childEmail:last-child {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--red);
}

#child1:last-child,
#child2:last-child,
#child3:last-child {
  color: var(--grey);
}

#child10 span,
#child1 span,
#child2 span,
#child3 span,
#child11 span,
#child12 span,
#childLinkedin span,
#childEmail span {
  display: inline-block;
  overflow: hidden;
  pointer-events: none;
}
#child10 span:nth-child(1),
#child1 span:nth-child(1),
#child2 span:nth-child(1),
#child3 span:nth-child(1),
#child11 span:nth-child(1),
#child12 span:nth-child(1),
#childLinkedin span:nth-child(1),
#childEmail span:nth-child(1) {
  transition: transform 900ms cubic-bezier(0.19, 1, 0.22, 1);
}

#child10 span:nth-child(2),
#child1 span:nth-child(2),
#child2 span:nth-child(2),
#child3 span:nth-child(2),
#child11 span:nth-child(2),
#child12 span:nth-child(2),
#childLinkedin span:nth-child(2),
#childEmail span:nth-child(2) {
  transition: transform 900ms cubic-bezier(0.19, 1, 0.22, 1) 20ms;
}

#child10 span:nth-child(3),
#child1 span:nth-child(3),
#child2 span:nth-child(3),
#child3 span:nth-child(3),
#child11 span:nth-child(3),
#child12 span:nth-child(3),
#childLinkedin span:nth-child(3),
#childEmail span:nth-child(3) {
  transition: transform 900ms cubic-bezier(0.19, 1, 0.22, 1) 40ms;
}
#child10 span:nth-child(4),
#child1 span:nth-child(4),
#child2 span:nth-child(4),
#child3 span:nth-child(4),
#child11 span:nth-child(4),
#child12 span:nth-child(4),
#childLinkedin span:nth-child(4),
#childEmail span:nth-child(4) {
  transition: transform 900ms cubic-bezier(0.19, 1, 0.22, 1) 60ms;
}
#child10 span:nth-child(5),
#child1 span:nth-child(5),
#child2 span:nth-child(5),
#child3 span:nth-child(5),
#child11 span:nth-child(5),
#child12 span:nth-child(5),
#childLinkedin span:nth-child(5),
#childEmail span:nth-child(5) {
  transition: transform 900ms cubic-bezier(0.19, 1, 0.22, 1) 80ms;
}

#child10 span:nth-child(6),
#child1 span:nth-child(6),
#child2 span:nth-child(6),
#child3 span:nth-child(6),
#child11 span:nth-child(6),
#child12 span:nth-child(6),
#childLinkedin span:nth-child(6),
#childEmail span:nth-child(6) {
  transition: transform 900ms cubic-bezier(0.19, 1, 0.22, 1) 100ms;
}

#child10 span:nth-child(7),
#child1 span:nth-child(7),
#child2 span:nth-child(7),
#child3 span:nth-child(7),
#child11 span:nth-child(7),
#child12 span:nth-child(7),
#childLinkedin span:nth-child(7),
#childEmail span:nth-child(7) {
  transition: transform 900ms cubic-bezier(0.19, 1, 0.22, 1) 120ms;
}

#child10 span:nth-child(8),
#child1 span:nth-child(8),
#child2 span:nth-child(8),
#child3 span:nth-child(8),
#child11 span:nth-child(8),
#child12 span:nth-child(8),
#childLinkedin span:nth-child(8),
#childEmail span:nth-child(8) {
  transition: transform 900ms cubic-bezier(0.19, 1, 0.22, 1) 140ms;
}

#child10 span:nth-child(9),
#child1 span:nth-child(9),
#child2 span:nth-child(9),
#child3 span:nth-child(9),
#child11 span:nth-child(9),
#child12 span:nth-child(9),
#childLinkedin span:nth-child(9),
#childEmail span:nth-child(9) {
  transition: transform 900ms cubic-bezier(0.19, 1, 0.22, 1) 160ms;
}

#child10 span:nth-child(10),
#child1 span:nth-child(10),
#child2 span:nth-child(10),
#child3 span:nth-child(10),
#child11 span:nth-child(10),
#child12 span:nth-child(10),
#childLinkedin span:nth-child(10),
#childEmail span:nth-child(10) {
  transition: transform 900ms cubic-bezier(0.19, 1, 0.22, 1) 180ms;
}
#child10 span:nth-child(11),
#child1 span:nth-child(11),
#child2 span:nth-child(11),
#child3 span:nth-child(11),
#child11 span:nth-child(11),
#child12 span:nth-child(11),
#childLinkedin span:nth-child(11),
#childEmail span:nth-child(11) {
  transition: transform 900ms cubic-bezier(0.19, 1, 0.22, 1) 200ms;
}
#child10 span:nth-child(12),
#child1 span:nth-child(12),
#child2 span:nth-child(12),
#child3 span:nth-child(12),
#child11 span:nth-child(12),
#child12 span:nth-child(12),
#childLinkedin span:nth-child(12),
#childEmail span:nth-child(12) {
  transition: transform 900ms cubic-bezier(0.19, 1, 0.22, 1) 220ms;
}
#child10 span:nth-child(13),
#child1 span:nth-child(13),
#child2 span:nth-child(13),
#child3 span:nth-child(13),
#child11 span:nth-child(13),
#child12 span:nth-child(13),
#childLinkedin span:nth-child(13),
#childEmail span:nth-child(13) {
  transition: transform 900ms cubic-bezier(0.19, 1, 0.22, 1) 240ms;
}
#child10 span:nth-child(14),
#child1 span:nth-child(14),
#child2 span:nth-child(14),
#child3 span:nth-child(14),
#child11 span:nth-child(14),
#child12 span:nth-child(14),
#childLinkedin span:nth-child(14),
#childEmail span:nth-child(14) {
  transition: transform 900ms cubic-bezier(0.19, 1, 0.22, 1) 260ms;
}
#child10 span:nth-child(15),
#child1 span:nth-child(15),
#child2 span:nth-child(15),
#child3 span:nth-child(15),
#child11 span:nth-child(15),
#child12 span:nth-child(15),
#childLinkedin span:nth-child(15),
#childEmail span:nth-child(15) {
  transition: transform 900ms cubic-bezier(0.19, 1, 0.22, 1) 280ms;
}
#child10 span:nth-child(16),
#child1 span:nth-child(16),
#child2 span:nth-child(16),
#child3 span:nth-child(16),
#child11 span:nth-child(16),
#child12 span:nth-child(16),
#childLinkedin span:nth-child(16),
#childEmail span:nth-child(16) {
  transition: transform 900ms cubic-bezier(0.19, 1, 0.22, 1) 300ms;
}
#child10 span:nth-child(17),
#child1 span:nth-child(17),
#child2 span:nth-child(17),
#child3 span:nth-child(17),
#child11 span:nth-child(17),
#child12 span:nth-child(17),
#childLinkedin span:nth-child(17),
#childEmail span:nth-child(17) {
  transition: transform 900ms cubic-bezier(0.19, 1, 0.22, 1) 320ms;
}
#child10 span:nth-child(18),
#child1 span:nth-child(18),
#child2 span:nth-child(18),
#child3 span:nth-child(18),
#child11 span:nth-child(18),
#child12 span:nth-child(18),
#childLinkedin span:nth-child(18),
#childEmail span:nth-child(18) {
  transition: transform 900ms cubic-bezier(0.19, 1, 0.22, 1) 340ms;
}
#child10 span:nth-child(19),
#child1 span:nth-child(19),
#child2 span:nth-child(19),
#child3 span:nth-child(19),
#child11 span:nth-child(19),
#child12 span:nth-child(19),
#childLinkedin span:nth-child(19),
#childEmail span:nth-child(19) {
  transition: transform 900ms cubic-bezier(0.19, 1, 0.22, 1) 360ms;
}

#child10 span:nth-child(20),
#child1 span:nth-child(20),
#child2 span:nth-child(20),
#child3 span:nth-child(20),
#child11 span:nth-child(20),
#child12 span:nth-child(20),
#childLinkedin span:nth-child(20),
#childEmail span:nth-child(20) {
  transition: transform 900ms cubic-bezier(0.19, 1, 0.22, 1) 380ms;
}

#child10 span:nth-child(21),
#child1 span:nth-child(21),
#child2 span:nth-child(21),
#child3 span:nth-child(21),
#child11 span:nth-child(21),
#child12 span:nth-child(21),
#childLinkedin span:nth-child(21),
#childEmail span:nth-child(21) {
  transition: transform 900ms cubic-bezier(0.19, 1, 0.22, 1) 400ms;
}

#child10 span:nth-child(22),
#child1 span:nth-child(22),
#child2 span:nth-child(22),
#child3 span:nth-child(22),
#child11 span:nth-child(22),
#child12 span:nth-child(22),
#childLinkedin span:nth-child(22),
#childEmail span:nth-child(22) {
  transition: transform 900ms cubic-bezier(0.19, 1, 0.22, 1) 420ms;
}

#child10 span:nth-child(23),
#child1 span:nth-child(23),
#child2 span:nth-child(23),
#child3 span:nth-child(23),
#child11 span:nth-child(23),
#child12 span:nth-child(23),
#childLinkedin span:nth-child(23),
#childEmail span:nth-child(23) {
  transition: transform 900ms cubic-bezier(0.19, 1, 0.22, 1) 440ms;
}
#child10 span:nth-child(24),
#child1 span:nth-child(24),
#child2 span:nth-child(24),
#child3 span:nth-child(24),
#child11 span:nth-child(24),
#child12 span:nth-child(24),
#childLinkedin span:nth-child(24),
#childEmail span:nth-child(24) {
  transition: transform 900ms cubic-bezier(0.19, 1, 0.22, 1) 460ms;
}
#child10 span:nth-child(25),
#child1 span:nth-child(25),
#child2 span:nth-child(25),
#child3 span:nth-child(25),
#child11 span:nth-child(25),
#child12 span:nth-child(25),
#childLinkedin span:nth-child(25),
#childEmail span:nth-child(25) {
  transition: transform 900ms cubic-bezier(0.19, 1, 0.22, 1) 480ms;
}

#child10:last-child span,
#child1:last-child span,
#child2:last-child span,
#child3:last-child span,
#child11:last-child span,
#child12:last-child span,
#childLinkedin:last-child span,
#childEmail:last-child span {
  transform: translate3d(0, 110%, 0);
}

#parent10:hover #child10:first-child span,
#parent1:hover #child1:first-child span,
#parent2:hover #child2:first-child span,
#parent3:hover #child3:first-child span,
#parent11:hover #child11:first-child span,
#parent12:hover #child12:first-child span,
#parentLinkedin:hover #childLinkedin:first-child span,
#parentEmail:hover #childEmail:first-child span {
  transform: translate3d(0, -110%, 0);
}

#parent10:hover #child10:last-child span,
#parent1:hover #child1:last-child span,
#parent2:hover #child2:last-child span,
#parent3:hover #child3:last-child span,
#parent11:hover #child11:last-child span,
#parent12:hover #child12:last-child span,
#parentLinkedin:hover #childLinkedin:first-child span,
#parentEmail:hover #childEmail:first-child span {
  transform: translate3d(0, 0, 0);
}
/* #parentLinkedin:hover #childLinkedin:first-child span,
#parentEmail:hover #childEmail:first-child span {
  transition: color 0.5s ease-in;
} */

.line.is-visible {
  display: block;
  position: absolute;
  top: 00%;
  left: -5vh;
  border-left: 2px solid var(--grey);
  margin: 1vh 0 0 0;
  text-align: center;
  animation: line 2.2s linear forwards;
}
@keyframes line {
  from {
    top: 0%;
    height: 5%;
  }
  to {
    top: 0%;
    height: 94%;
  }
}
.hero {
  height: 100vh;
  margin: 0 auto;
  padding: 0 2vh;
}
.heroHeading {
  font-size: 16vh;
  line-height: 1;
  margin-top: 2vh;
  text-transform: uppercase;
}
.heroDescription {
  margin-top: 2vh;
  font-size: 4vh;
  line-height: 1;
}
.about {
  margin: 5vh auto;
  padding: 0 2vh;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.aboutText {
  margin: 0 auto 10vh auto;
  line-height: 1.3;
  font-size: 1rem;
  grid-column: 1;
}
.aboutText > div {
  display: inline;
}

.profileImg {
  grid-column: 1;
  margin: 1vh 0;
}
.projectsMenu {
  width: 100vw;
}
.projectsMenu > div {
  padding: 2vh;
}
.projectsMenu li,
.contact li {
  margin-top: calc(1rem / 2);
}
.projectsHeading,
.contactscHeading {
  text-transform: uppercase;
  font-size: 0.7rem;
}
.projectLink {
  font-size: 2rem;
  margin: 0;
}
.personal h5,
.student h5,
.contact h5 {
  margin: 0;
  font-size: 1rem;
}
.student button,
.personal button {
  padding: 0;
}

.cv {
  margin: 2vh auto;
}
.education {
  padding-top: 3vh;
}

.cv h3 {
  font-size: 0.7rem;
  margin-bottom: 0;
}
.cv h4 {
  font-size: 1.1rem;
}
.cvImg {
  float: right;
  transition: transform 2s;
  animation: animate-cv 3s infinite alternate;
  margin-top: 1vh;
  max-width: 15vw;
}

.footer {
  padding: 0.5vh 2vh;
  font-size: 0.8rem;
}

@keyframes animate-cv {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(12deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.modal {
  padding: 0 2vh;
  display: grid;
  overflow-y: auto;
}

.modalTitle {
  grid-row: 1;
  font-size: 7vh;
  line-height: 1.2;
  margin-top: 2vh;
  padding-bottom: 4vh;
}
.projectImg {
  filter: grayscale(100%);
  transition: all 0.5s ease-in-out;
}
.projectImg:hover {
  filter: none;
}
.modal .gatsby-image-wrapper {
  max-height: 30vh;
  grid-row: 2;
}
.modalText {
  grid-row: 4;
}
.modalHeading {
  grid-row: 3;
  font-size: 1.2rem;
  margin: 2vh auto 3vh auto !important;
}
.modalDescription {
  font-size: 1rem;
  line-height: 1.1;
}
.modalPeriod {
  font-size: 0.6rem;
  text-transform: uppercase;
  margin: 0;
}
.modalLinks a {
  border: 1px solid var(--red);
  border-radius: 30px;
  padding: 5px 20px;
  font-size: 0.6rem;
  margin-right: 1vh;
}

.employments {
  margin-left: 10vh;
  position: relative;
}
.contact {
  padding: 2vh;
}
.closeButton {
  width: 5vh;
  float: right;
}
.heroAnimation,
.dynamic,
.static {
  overflow: hidden;
  vertical-align: bottom;
}
.heroAnimation {
  position: relative;
  margin: 0;
  padding: 0;
  display: inline-block;
  width: fit-content;
}
.heroAnimation p {
  margin: 0;
  padding: 0;
}

.dynamic,
.dynamic p {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  transition: all ease 0.7s;
  display: flex;
  justify-content: left;
  align-items: center;
}
.dynamic {
  background-color: var(--red);
}
.static {
  background-color: var(--grey);
  color: var(--red);
}
.heroAnimation:hover .dynamic {
  transform: translateY(100%);
}
.heroAnimation:hover .dynamic p {
  transform: translateY(-100%);
}
.ring {
  position: fixed;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  border: 2px solid var(--green);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  -webkit-transition-duration: 100ms;
  transition-duration: 100ms;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  will-change: width, height, transform, border;
  z-index: 999;
  pointer-events: none;
}

.dot {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background-color: var(--green);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  z-index: 999;
  pointer-events: none;
}

.ring.hovered {
  width: 50px;
  height: 50px;
  border-width: 3px;
  border-color: var(--black);
}

.dot.hovered {
  display: none;
}
@media only screen and (max-width: 600px) {
  .dot,
  .dot.hovered,
  .ring,
  .ring.hovered {
    display: none;
  }
}

@media only screen and (min-width: 360px) {
  .personal h5,
  .student h5,
  .contact h5 {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 450px) {
  .personal h5,
  .student h5,
  .contact h5 {
    font-size: 1.5rem;
  }
  .cvImg {
    margin-top: 1vh;
    margin-right: 2vh;
  }
  .profileImg {
    max-width: 60%;
  }
}
@media only screen and (min-width: 600px) {
  .personal h5,
  .student h5,
  .contact h5 {
    font-size: 1.8rem;
  }
  .heroHeading {
    font-size: 22vh;
  }
  .heroDescription {
    font-size: 6vh;
  }
  .profileImg {
    max-width: 20%;
  }
}
@media only screen and (min-width: 768px) {
  .personal h5,
  .student h5,
  .contact h5 {
    font-size: 1.8rem;
  }
  .heroHeading {
    font-size: 25vh;
  }
  .heroDescription {
    font-size: 6vh;
  }
}

@media only screen and (min-width: 860px) {
  .aboutText {
    font-size: 2vw;
  }
  .modal {
    grid-template-columns: repeat(auto, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-gap: 2vh;
  }
  /* Title */
  .modal .fade-in-section:nth-child(1) {
    grid-column: 1/13;
    grid-row: 1/2;
  }
  .modalTitle {
    font-size: 7vw;
    margin-left: 2.5vh;
    padding-bottom: 1vh;
  }
  /* image */
  .modal .fade-in-section:nth-child(2) {
    grid-row: 2/3;
    grid-column: 2/10;
  }
  .modal .gatsby-image-wrapper {
    max-height: 70vh;
  }
  /* heading */
  .modal .fade-in-section:nth-child(3) {
    grid-row: 3;
    grid-column: 2/10;
  }
  .modalHeading {
    margin: 0 !important;
  }

  /* modalText */
  .modal .fade-in-section:nth-child(4) {
    grid-row: 2/3;
    grid-column: 10/13;
  }
  .modalDescription {
    font-size: 0.8rem;
  }

  /* modalLinks */
  .modal .fade-in-section:nth-child(5) {
    grid-row: 3;
    grid-column: 10/13;
  }
  /* modalCloseButton */
  .modal .fade-in-section:nth-child(6) {
    grid-row: 4;
    grid-column: 10/13;
    position: relative;
  }
  .closeButton {
    position: absolute;
    right: 2vh;
    bottom: 2vh;
    width: 12vh;
  }
  .personal h5,
  .student h5,
  .contact h5 {
    font-size: 2.8rem;
  }
  .about {
    margin: 10vh auto;
  }
  .projectsHeading,
  .contactscHeading {
    font-size: 1.8vw;
  }
  .profileImg {
    height: 20vw;
  }
}
@media only screen and (min-width: 860px) and (max-height: 800px) {
  .heroDescription {
    margin-top: 16vh;
    font-size: 5vw;
  }
}
@media only screen and (min-width: 1024px) {
  .cvText {
    margin: 0 40vh;
  }
  .cvImg {
    margin-top: 5vh;
    margin-right: 5vh;
  }
  .personal h5,
  .student h5,
  .contact h5 {
    font-size: 7vw;
  }
}
@media only screen and (min-width: 1024px) {
  .modalDescription {
    font-size: 1rem;
  }
  .modalLinks a {
    font-size: 0.7rem;
    border: 1px solid;
    padding: 10px 20px;
    border-radius: 50px;
  }
}

@media only screen and (min-width: 2000px) {
  .modalDescription {
    font-size: 2rem;
  }
  .modalPeriod {
    font-size: 1.5rem;
  }
  .modalHeading {
    font-size: 2.5rem;
  }
  .modalLinks a {
    font-size: 1.5rem;
    border: 3px solid;
    padding: 20px 60px;
    border-radius: 50px;
  }
}
